@CHARSET "UTF-8";
.top-side-btns {
	float:right;
	_display:inline;
	margin:15px 80px 0 0
}
.top-side-btns b {
	margin-right:6px
}
.group-index-page .main-title-sp {
	margin-top:30px;
	margin-bottom:10px;
	border-bottom:0
}
.blackboard {
	padding:15px 0;
	border-bottom:1px solid #ccc
}
.suggest {
	margin-top:30px;
	padding:10px;
	background:#fafafa;
	border:1px solid #d8dbd2;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px
}
.suggest h2 {
	font-size:14px;
	color:#609c17
}
.suggest p {
	margin:5px 0 10px;
	color:#666
}
.side-highlight {
	margin-top:30px;
	background:#fbfdf8;
	border:1px solid #d8dbd2;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px
}
.side-highlight .side-title {
	margin:0 auto;
	width:270px
}
.side-admins {
	overflow:visible
}
.side-admins li {
	position:relative
}
.side-admins .side-admins-leader {
	background:url(../img/group.png) no-repeat right top;
	position:absolute;
	right:10px;
	top:36%;
	width:20px;
	height:20px;
	display:block;
	text-indent:-999px
}
.side-admins .pt-txt-d {
	width:185px
}
.gui-block-apply .t_txt {
	color:#666;
	font-size:14px;
	height:70px;
	margin:0 auto;
	width:375px
}
.gui-block-apply p {
	margin-top:10px
}
.gui-block-apply .error {
	color:#e56b2e;
	font-size:12px
}
.groups {
	clear:left;
	margin-top:20px;
	width:640px;
	color:#666
}
.groups .pt-pic {
	text-align:center
}
.groups .pt-pic img {
	margin-bottom:6px
}
.groups .pt-pic a {
	text-decoration:underline;
	color:#888
}
.groups .pt-pic .sw_btn {
	text-decoration:none
}
.groups .pt-txt h2 {
	display:inline;
	margin-right:.5em
}
.groups li {
	_display:inline;
	float:left;
	margin-bottom:20px;
	padding:10px 40px 10px 10px;
	width:258px;
	height:80px;
	overflow:hidden;
	border-bottom:1px dashed #CCC
}
.group-list-page .main-title {
	margin-top:30px
}
.group-category {
	_position:relative;
	overflow:hidden;
	_zoom:1;
	height:34px;
	white-space:nowrap;
	background-color:#f5f5f5
}
.group-category li {
	position:relative;
	float:left;
	margin-left:-1px;
	padding:5px 0
}
.group-category li a,.group-category li span {
	float:left;
	padding:0 1em;
	height:24px;
	overflow:hidden;
	line-height:24px;
	text-align:center;
	border-left:1px dotted #CCC
}
.group-category li span {
	font-weight:bold;
	color:#888
}
.group-category .arrow_up {
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-6px;
	border-width:6px
}
.gui-block-reco .gui-block-reco-txt,.gui-block-reco .t_txt {
	margin:0 auto;
	width:375px;
	height:70px;
	font-size:14px;
	color:#666
}
.gui-block-reco .gui-block-reco-txt {
	text-align:left;
	font-size:14px;
	height:20px
}
.gui-block-reco p {
	margin-top:10px
}
.gui-block-reco .fl {
	line-height:17px;
	font-size:12px;
	color:#888
}
.gui-block-reco .fl input {
	vertical-align:middle
}
.gui-block-reco .fl label {
	margin-right:5px
}
.gui-block-reco .sw_btn {
	margin-right:3px
}
.gui-block-reco-link {
	margin:0 10px 0 5px
}
.gui-menu-focus {
	display:block;
	margin-top:-1px;
	width:100%;
	height:1px;
	font-size:0;
	line-height:0;
	outline:0
}
.gui-menu-focus:focus {
	outline:0
}
.gui-menu-list {
	padding-bottom:2px 8px 10px;
	color:#069;
	border:1px solid #c5c5c5;
	background-color:#FFF;
	-webkit-box-shadow:1px 1px 2px #CCC;
	-moz-box-shadow:1px 1px 2px #CCC;
	-o-box-shadow:1px 1px 2px #CCC;
	box-shadow:1px 1px 2px #CCC;
	*zoom:1
}
.gui-menu-list li {
	padding:2px 10px;
	height:22px;
	line-height:22px
}
.gui-menu-list li a {
	text-decoration:none
}
.gui-menu-list li a:hover {
	text-decoration:none
}
.gui-menu-list .selected {
	text-decoration:none;
	color:#FFF;
	background-color:#29a2cf
}
.gui-menu-list .selected a {
	color:#FFF
}
.gui-autocomplete-menu li {
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	cursor:pointer
}
.gui-at {
	position:absolute;
	width:280px;
	background-color:#FFF
}
.gui-at input,.gui-at p {
	width:270px
}
.gui-at p {
	margin-top:-1px;
	padding:0 5px;
	height:30px;
	line-height:30px;
	color:#BBB;
	border:1px solid #c5c5c5;
	-webkit-box-shadow:1px 1px 2px #CCC;
	-moz-box-shadow:1px 1px 2px #CCC;
	-o-box-shadow:1px 1px 2px #CCC;
	box-shadow:1px 1px 2px #CCC
}
.gui-at-none {
	background-color:#f5f5f5
}
.gui-at .gui-menu {
	margin-top:-1px
}
.gui-block-tab {
	margin:-20px -20px 0 -20px;
	height:40px;
	overflow:hidden;
	background-color:#f3f3f3
}
.gui-block-tab li {
	float:left;
	margin:8px 10px 0 10px;
	width:66px;
	height:32px;
	line-height:32px;
	text-align:center
}
.gui-block-tab .current {
	background-color:#FFF;
	border:1px solid #CCC
}
.gui-block-tab a {
	color:#888
}
.gui-block-tab .current a {
	font-weight:bold;
	color:#616161
}
.gui-block-error {
	color:red
}
.gui-block-bd-hd {
	margin:20px 0 10px
}
.gui-block-bd-hd-title {
	color:#333
}
.gui-block-bd-hd-desc {
	font-size:12px;
	color:#888
}
.gui-block-bd-intro {
	margin-bottom:10px;
	color:#666
}
.gui-block-bd .b_txt {
	width:300px
}
.gui-block-bd-do {
	margin-top:20px
}
.gui-block-bd-do .mw_btn {
	margin-right:20px;
	font-weight:bold;
	color:#888
}
.gui-block-bd-do a {
	color:#bbb
}
.gui-block-uploader p {
	margin-top:4px;
	font-size:12px
}
.gui-block-uploader p img {
	float:left;
	margin-right:6px
}
.gui-block-uploader-hide {
	position:absolute;
	width:382px;
	height:28px;
	line-height:28px;
	opacity:0;
	-ms-filter:"alpha(opacity=0)";
	*filter:alpha(opacity=0);
	vertical-align:middle;
	cursor:pointer;
	font-size:18px;
	background:0;
	border:0
}
.gui-block-uploader .b_txt {
	width:300px
}
.gui-block-uploader .sw_btn {
	margin-left:20px
}
.gui-ubb-b {
	border:1px solid #d3d3d3
}
.gui-ubb-gap {
	position:relative;
	_zoom:1;
	padding:5px;
	overflow:hidden
}
.gui-ubb-pre,.gui-ubb-b .gui-ubb-gap textarea,.gui-ubb-editor {
	display:block;
	padding:0;
	margin:0;
	width:100%;
	line-height:1.5;
	font-size:14px;
	word-wrap:break-word;
	outline:0;
	resize:none;
	overflow:auto;
	background-color:#FFF;
	border:0
}
.gui-ubb-pre {
	-ms-filter:"alpha(opacity=0)";
	filter:alpha(opacity=0);
	opacity:0;
	position:absolute;
	top:5px;
	left:5px;
	z-index:-1000;
	position:absolute;
	white-space:pre-wrap
}
.gui-ubb-pre span {
	white-space:pre-wrap
}
.gui-ubb-editor {
	display:none;
	white-space:pre-wrap;
	color:#000;
	background-color:transparent
}
.gui-ubb-links {
	margin-bottom:-1px;
	overflow:hidden;
	_height:26px;
	padding:5px 0;
	background-color:#f5f5f5;
	border:1px solid #d3d3d3
}
.gui-ubb-bold,.gui-ubb-italic,.gui-ubb-link,.gui-ubb-image,.gui-ubb-video,.gui-ubb-ref,.gui-ubb-at,.gui-ubb-ul,.gui-ubb-ol {
	_display:inline;
	float:left;
	margin-right:-1px;
	width:27px;
	height:27px;
	text-indent:-9999px;
	outline:0;
	background:url(../img/small.gif?v2.8) no-repeat 0 -610px
}
.gui-ubb-toggle {
	_display:inline;
	float:right;
	margin-right:5px;
	line-height:26px;
	color:#bbb
}
.gui-ubb-toggle a {
	color:#bbb
}
.gui-ubb-bold {
	margin-left:5px
}
.gui-ubb-italic {
	background-position:-26px -610px
}
.gui-ubb-link {
	background-position:-52px -610px
}
.gui-ubb-image {
	background-position:-78px -610px
}
.gui-ubb-video {
	background-position:-104px -610px
}
.gui-ubb-at {
	background-position:-130px -610px
}
.gui-ubb-ref {
	background-position:-156px -610px
}
.gui-ubb-ul {
	background-position:-182px -610px
}
.gui-ubb-ol {
	background-position:-208px -610px
}
.gui-ubb-bold:hover {
	background-position:0 -610px
}
.gui-ubb-italic:hover {
	background-position:-26px -580px
}
.gui-ubb-link:hover {
	background-position:-52px -580px
}
.gui-ubb-image:hover {
	background-position:-78px -580px
}
.gui-ubb-video:hover {
	background-position:-104px -580px
}
.gui-ubb-at:hover {
	background-position:-130px -580px
}
.gui-ubb-ref:hover {
	background-position:-156px -580px
}
.gui-ubb-ul:hover {
	background-position:-182px -610px
}
.gui-ubb-ol:hover {
	background-position:-208px -610px
}
.gui-ubbv-line {
	margin:5px 0;
	width:230px;
	height:1px;
	line-height:1px;
	font-size:0;
	border-bottom:1px solid #ccc
}
.gui-ubbv-ref {
	margin:10px 0;
	line-height:1.5;
	color:#999
}
.gui-ubbv-ref-bd {
	position:relative
}
.gui-ubbv-ref-bd-pic {
	float:right;
	margin:24px 0 0 15px
}
.gui-ubbv-ref-bd h3 {
	margin-top:2px;
	width:390px
}
.post .gui-ubbv-ref-bd h3 {
	width:400px
}
.gui-ubbv-ref-bd h3 a {
	font-size:14px
}
.gui-ubbv-ref-bd-info {
	position:absolute;
	right:0;
	top:2px
}
.gui-ubbv-ref-bd-desc {
	margin-top:4px;
	color:#333
}
.gui-ubbv-ol {
	margin:0!important;
	padding:0!important;
	overflow:visible!important;
	border:none!important
}
.gui-ubbv-ol li {
	margin:0 0 0 20px!important;
	*margin:0 0 0 25px!important;
	padding:0!important;
	overflow:visible!important;
	list-style:decimal outside!important;
	border:none!important
}
.gui-ubbv-ul {
	margin:0!important;
	padding:0!important;
	overflow:visible!important;
	border:none!important
}
.gui-ubbv-ul li {
	margin:0 0 0 20px!important;
	padding:0!important;
	overflow:visible!important;
	list-style:square outside!important;
	border:none!important
}
.gui-share-xl,.gui-share-db,.gui-share-rr,.gui-share-qq,.gui-share-tqq {
	display:inline-block;
	margin-left:5px;
	padding-left:0;
	width:18px;
	height:18px;
	line-height:18px;
	text-indent:-9999px;
	text-align:left;
	overflow:hidden;
	vertical-align:middle;
	background:url(../img/small.gif?v2.8) no-repeat 0 -32px
}
.gui-share-xl {
	padding-left:20px;
	width:auto;
	text-indent:0
}
.gui-share-db {
	background-position:0 -50px
}
.gui-share-rr {
	background-position:0 -180px
}
.gui-share-qq {
	background-position:0 -200px
}
.gui-share-tqq {
	background-position:0 -738px
}
.cmts {
	width:600px;
	overflow:hidden;
	text-align:left;
	overflow:hidden
}
.cmts .main-title-more .highlight {
	color:#069
}
.cmts-list li {
	padding:20px 0 15px;
	_zoom:1;
	overflow:hidden;
	border-bottom:1px solid #eee
}
.cmt-light {
	background-color:#f4f9e8
}
.cmt-img {
	float:left;
	text-align:center
}
.cmt-img img {
	margin-bottom:4px
}
.cmt-author {
	margin:0 10px
}
.cmt-auth {
	color:#999
}
.cmt-auth-vip {
	display:inline-block;
	margin-left:2px;
	margin-bottom:-2px;
	width:12px;
	height:12px;
	line-height:12px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(../img/small.gif?v2.8) no-repeat -28px 0
}
.cmt-info {
	float:right;
	margin-left:10px;
	color:#999
}
.cmt-floor {
	color:#999
}
.cmt-content {
	margin:10px 12px 10px 58px;
	width:520px;
	line-height:24px;
	overflow:hidden;
	word-wrap:break-word
}
.cmt-content blockquote {
	color:#999
}
.cmt-content img {
	display:inline;
	max-width:520px
}
.cmt-do {
	float:right;
	color:#1e8a26
}
.cmt-do-quote,.cmt-do-delete {
	color:#1e8a26
}
.cmt-line {
	width:230px;
	margin:5px 0;
	font-size:0;
	height:1px;
	line-height:1px;
	border-bottom:1px solid #ccc
}
.cmts-do {
	margin-top:30px;
	color:#888
}
.cmts-do .fl {
	margin-right:15px
}
.cmts-do-hd {
	margin-bottom:5px;
	word-wrap:break-word;
	color:#999
}
.cmts-do-hd span {
	margin-left:10px
}
.cmts-do-hd .sai {
	margin-left:0
}
.cmts-do form textarea {
	padding:0;
	margin:0;
	width:99%;
	border:1px solid #DDD
}
.cmts-do .bg_btn {
	float:right;
	_display:inline;
	margin:10px 20px 0 0
}
.cmts-do .cmts-do-check {
	float:left;
	margin-top:10px;
	height:15px;
	line-height:15px;
	color:#333
}
.cmts-do .cmts-do-check input {
	margin-right:5px
}
.cmts-do .cmts-do-connect {
	margin-top:12px;
	*margin-left:-25px
}
.cmts-do-connect .icon-m-xl,.cmts-do-connect .icon-m-rr,.cmts-do-connect .icon-m-qq {
	margin-right:5px;
	width:auto;
	text-indent:25px;
	background-repeat:no-repeat
}
.cmts-share {
	float:left;
	_display:inline;
	margin:5px 0 -10px;
	*margin-bottom:0;
	color:#333
}
.cmts-share input {
	vertical-align:middle
}
.document-do {
	clear:both;
	padding-top:5px;
	height:32px;
	line-height:32px;
	text-align:right;
	border-top:1px dotted #CCC
}
.document-do .fl {
	height:18px;
	line-height:18px;
	color:#666
}
.document-do .mw_btn-ext {
	margin-right:5px;
	color:#666
}
.block-del-content {
	padding:10px;
	overflow:hidden;
	width:328px;
	background-color:#fefff1;
	border:1px solid #CCC
}
.block-del-content img {
	float:left;
	_display:inline;
	margin-right:12px
}
.block-del-content div {
	font-size:12px
}
.block-del-post {
	font-size:14px
}
.block-del-reasons {
	margin-top:15px;
	font-size:12px
}
.block-del-reasons h5 {
	font-size:14px;
	color:#4fa71f
}
.block-del-reasons ul {
	width:100%;
	overflow:hidden;
	color:#666
}
.block-del-reasons li {
	float:left;
	margin-top:10px;
	width:175px
}
.block-del-reasons .block-del-reasons-o {
	width:100%
}
.block-del-reasons .block-del-reasons-txt {
	margin-left:20px;
	width:200px;
	height:20px;
	line-height:20px;
	vertical-align:middle
}
.block-del-reasons li input {
	margin-right:5px
}
.block-del-do {
	margin-top:20px
}
.block-del-do a {
	position:relative;
	display:inline-block;
	margin-right:3px;
	width:49px;
	height:24px;
	line-height:24px;
	text-align:center;
	color:#1e8a26;
	background:url(../img/mini.png) no-repeat 0 -192px
}
.block-del-do a:hover {
	text-decoration:none
}
.block-del-do a:active {
	top:1px
}
.post {
	margin:30px 0 0;
	overflow:hidden;
	width:100%
}
.post-tags {
	overflow:hidden;
	width:100%;
	margin-bottom:5.5px
}
.post-pic {
	float:left;
	_display:inline;
	margin-right:10px;
	_margin-right:6px
}
.post-pic a {
	border:1px solid #ccc;
	display:block;
	width:48px
}
.post-txt {
	float:right;
	width:542px;
	overflow:hidden
}
.post h1 {
	margin-bottom:15.5px;
	font-size:18px;
	font-weight:bold;
	color:#000;
	word-wrap:break-word
}
.post .post-info {
	overflow:hidden;
	width:100%;
	color:#999
}
.post-info-point {
	display:inline-block;
	width:10px;
	height:10px;
	background:url(../img/d.gif) no-repeat center center
}
.post-detail {
	padding:1.5em 0 3em;
	overflow:hidden;
	line-height:2em;
	font-size:12px;
	word-wrap:break-word
}
.post-detail a {
	color:#069
}
.post-detail img {
	display:inline-block;
	_display:inline;
	max-width:540px
}
.diary-page .post-detail {
	border-top:1px dotted #CCC
}
.diary-page .post .post-info {
	margin-bottom:15px
}
.diary-page .post .post-detail {
	font-size:14px
}
.diary-page .post .post-share {
	margin-top:-35px;
	float:right;
	color:#888;
	_display:inline
}
.question-page .post-only,.post-page-content .post-only {
	margin-bottom:0;
	overflow:visible
}
.question-page .post h1,.post-page-content .post-share {
	padding-bottom:6px;
	margin-bottom:14px;
	border-bottom:1px dotted #CCC
}
.post-page-content .post-share {
	padding-left:430px;
	*padding-left:420px;
	padding-bottom:15px;
	margin-bottom:20px;
	height:18px;
	line-height:17px;
	color:#888
}
.question-page .post-only h1,.post-page-content .post-only h1 {
	margin-bottom:0;
	border-bottom:0
}
.question-page .post-detail,.post-page-content .post-detail {
	width:540px
}
.gui-screen-top {
	position:fixed;
	_position:absolute;
	bottom:80px;
	left:50%;
	margin-left:135px;
	width:40px;
	height:40px;
	overflow:hidden;
	outline:0;
	text-indent:-9999px;
	background-color:#fdfdfd;
	border:1px solid #d5d5d5;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:0 0 5px #f5f5f5;
	-moz-box-shadow:0 0 5px #f5f5f5;
	-o-box-shadow:0 0 5px #f5f5f5;
	box-shadow:0 0 5px #f5f5f5
}
.gui-screen-top s {
	position:absolute;
	top:-2px;
	left:10px;
	width:0;
	height:0;
	font-size:0;
	border-width:10px;
	border-style:dashed dashed solid dashed;
	border-color:transparent transparent #d5d5d5 transparent
}
.gui-screen-top b {
	position:absolute;
	top:18px;
	left:16px;
	width:8px;
	height:12px;
	background-color:#d5d5d5
}
.document-mod {
	margin:10px 0;
	overflow:hidden;
	color:#1e8a26
}
.document-mod a {
	color:#1e8a26
}
.document-mod-l {
	float:left
}
.document-mod-r {
	float:right
}
.editor {
	padding:0;
	width:600px;
	overflow:hidden
}
.editor-l {
	margin-top:10px;
	overflow:hidden;
	width:100%
}
.editor h2 {
	float:left;
	width:60px;
	height:30px;
	line-height:30px;
	font-size:14px
}
.editor .b_txt {
	float:left;
	width:528px;
	_width:525px
}
.editor-title-count {
	float:right;
	padding-top:10px;
	height:15px;
	text-align:right
}
.editor-content {
	float:left;
	width:540px;
	overflow:hidden
}
.editor-content textarea {
	padding:0;
	margin:0;
	width:99%;
	border:1px solid #DDD
}
.editor-tip {
	float:left
}
.editor-do {
	margin:20px 0 0 60px
}
.editor-share {
	margin-top:-10px
}
.editor-share input {
	vertical-align:middle
}
.editor-do .fr {
	height:32px;
	line-height:32px
}
.editor-do .fr a {
	margin-right:20px;
	color:#666
}
.editor-do .bg_btn {
	*margin-bottom:-8px
}
.side-postqa dt {
	margin-top:10px;
	font-weight:bold;
	color:#069
}
.side-postqa dd {
	*text-indent:-40px;
	color:#999
}
.main-settings {
	margin-top:30px
}
.main-settings .main-settings-item {
	overflow:hidden;
	_zoom:1
}
.main-settings label {
	width:78px;
	text-align:right;
	float:left;
	color:#609c17;
	font-size:14px;
	font-weight:bold
}
.main-settings .main-settings-box {
	margin:0 0 40px;
	width:512px;
	float:right
}
.main-settings-box textarea {
	padding:0;
	margin:0;
	width:99%;
	border:1px solid #DDD
}
.main-settings-box .loading {
	padding:0
}
.main-settings-box .error {
	background:url(../img/log_reg.png) no-repeat -108px 3px;
	color:#f00
}
.main-settings-box .ok {
	background:url(../img/log_reg.png) no-repeat -108px -25px
}
.main-settings-box .uploading {
	background:url(../img/loading.gif) no-repeat 0 8px
}
.upload-img {
	margin-top:12px
}
.upload-msg {
	margin-bottom:12px
}
.upload-img-wrap {
	position:absolute;
	width:388px;
	height:31px;
	background:0;
	border:0;
	opacity:0;
	filter:alpha(opacity=0);
	cursor:pointer;
	overflow:hidden;
	vertical-align:middle
}
.upload-img-wrap .upload-img-file {
	line-height:28px;
	font-size:16px;
	font-size:100px;
	cursor:pointer;
	position:absolute;
	right:0;
	left:auto
}
.upload-img-mask {
	width:310px;
	line-height:26px;
	vertical-align:middle;
	font-size:18px;
	color:#666;
	background:0
}
.main-settings-box .sw_btn {
	margin-left:10px
}
.upload-msg {
	height:20px;
	padding:5px 0;
	line-height:24px;
	padding-left:20px
}
.main-settings .hint {
	color:#bbb;
	padding-left:0
}
.sub_info {
	width:90px;
	height:34px;
	line-height:34px;
	font-size:14px;
	font-weight:bold;
	color:#666;
	cursor:pointer;
	background:url(../img/btn.png) no-repeat 0 -556px;
	border:0;
	text-align:center
}
.sub_info:hover {
	background:url(../img/btn.png) no-repeat -91px -556px
}
.sub_info:active {
	background:url(../img/btn.png) no-repeat -182px -556px
}
.members-search-title {
	border-bottom:0;
	margin-top:30px
}
.members-search-form .search-txt {
	width:360px;
	height:30px
}
.members-search-form .search-bt {
	height:32px;
	width:45px;
	background-position:14px -263px
}
.members .pack_u {
	position:relative;
	overflow:visible
}
.members-leader-icon {
	height:14px;
	width:14px;
	display:block;
	position:absolute;
	right:8px;
	top:-3px;
	background:url(../img/group.png) no-repeat 0 0;
	text-indent:-999px
}
.members-operations {
	height:10px;
	width:48px;
	background:url(../img/group.png) no-repeat 0 -21px;
	position:absolute;
	top:0;
	left:12px;
	display:none
}
.members-operations .members-operations-demote {
	background:url(../img/group.png) no-repeat -16px -36px
}
.members-operations .members-operations-promote {
	background:url(../img/group.png) no-repeat 0 -36px
}
.members-operations .members-operations-nonblacklist {
	background:url(../img/group.png) no-repeat -32px -36px
}
.members-operations li {
	width:16px;
	height:10px;
	float:left;
	_display:inline
}
.members-operations li a {
	display:block;
	width:100%;
	height:100%
}
.members-search-null {
	margin-top:30px;
	padding:10px;
	text-indent:10px;
	background-color:#fafafa;
	border:1px solid #d7dcd2;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px
}
.members-search-null h3 {
	color:#4ea41f;
	font-weight:bold;
	font-size:14px
}
.members-search-null strong {
	margin:0 1em
}
.members-search-null ul {
	color:#888;
	margin:10px
}
.members-search-null li {
	margin:5px
}
.element-invisible {
	position:absolute!important;
	height:1px;
	width:1px;
	overflow:hidden;
	clip:rect(1px,1px,1px,1px);
	*clip:rect(1px 1px 1px 1px)
}
.blacklist dl {
	position:relative
}
.blacklist .blacklist-remove {
	display:none;
	width:16px;
	height:10px;
	background:url(../img/group.png) -32px -21px no-repeat;
	position:absolute;
	right:12px;
	top:0
}
.main-form {
	margin:32px 0 120px;
	color:#666
}
.main-form h2 {
	color:#609c17;
	width:75px;
	float:left;
	font-size:14px;
	font-weight:bold;
	margin-top:20px
}
.main-form-box {
	background-color:#f6f6f6;
	padding:12px;
	margin-bottom:20px;
	overflow:hidden;
	*zoom:1
}
.main-form-box p {
	margin:10px 0
}
.main-form-box input {
	margin-right:8px
}
.main-form-box label,.main-form-box input[type=radio] {
	display:inline-block;
	vertical-align:middle
}
.main-form-box-disabled {
	color:#CCC
}
.main-form-do {
	text-align:right;
	margin-top:56px
}
.main-form-do a {
	color:#666;
	margin-right:20px
}
.main-form-do input {
	font-weight:bold
}
.main-op {
	color:#666;
	margin:16px 10px 0
}
.main-op input {
	display:inline-block;
	vertical-align:middle
}
.main-op label {
	padding:0 5px
}
.main-op a {
	color:#666;
	margin-left:5px
}
.main-apply {
	border:1px dashed #cdcdcd;
	border-style:dashed none;
	word-wrap:break-word;
	margin:10px;
	*zoom:1
}
.main-apply li {
	margin:15px 0;
	overflow:hidden;
	*zoom:1
}
.main-apply .pt-pic,.main-apply .pt-txt {
	float:left;
	_display:inline
}
.main-apply .pt-pic {
	width:75px
}
.main-apply .pt-pic input {
	position:absolute;
	margin:15px 0 0
}
.main-apply .pt-pic a {
	float:right
}
.main-apply .pt-txt {
	width:400px
}
.main-apply .pt-txt a {
	margin-right:15px
}
.main-apply .pt-txt span {
	margin-left:10px
}
.main-apply-op {
	text-align:right
}
.main-apply-op a {
	margin-left:10px
}
.group-new-page .main-form label {
	width:72px;
	height:32px;
	line-height:32px;
	clear:both;
	float:left;
	margin-right:10px;
	text-align:right
}
.group-new-page .error {
	color:#e56b2e
}
.group-new-page textarea {
	vertical-align:top;
	display:block
}
.group-new-page .main-form-box {
	background-color:#FFF;
	padding:0
}
.group-new-page .main-form-box .b_txt {
	width:240px
}
.group-new-page .main-form-box .t_txt {
	width:370px;
	height:120px
}
.group-new-page .main-form-box label {
	width:auto;
	float:none;
	text-align:left
}
.group-new-page .main-form-box input,.group-new-page .main-form-box label {
	vertical-align:middle
}
.group-new-page .main-form-tab input {
	margin-left:82px
}
.group-new-page .upload-img-wrap {
	width:320px
}
.group-new-page .hint {
	color:#bbb;
	padding-left:0
}
.main-form-upload .error {
	background:url(../img/log_reg.png) no-repeat -108px 3px
}
.main-form-upload .ok {
	background:url(../img/log_reg.png) no-repeat -108px -25px
}
.main-form-upload .uploading {
	background:url(../img/loading2.gif) no-repeat 0 8px
}
.group-new-page .side-tip {
	text-align:left;
	font-size:12px;
	line-height:2;
	height:auto;
	padding:5px 18px;
	margin-top:40px
}
.group-new-page .side-tip h2 {
	color:#609c17;
	font-size:14px;
	font-weight:bold
}
.group-new-success-page .main {
	padding:0 0 40px 30px;
	margin-top:30px;
	width:600px;
	min-height:500px;
	height:auto!important;
	height:600px
}
.group-new-success-page h1 {
	margin-bottom:20px
}
.group-new-success-page p {
	font-size:14px
}
.group-new-success-page .main-forward {
	text-align:right;
	margin:15px 40px 0 0
}
